a {
  text-decoration-line: none;
  color: inherit;
}

a:hover, a:active {
  color: gray;
}

/* Page Layout */

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
}

/* Header */

nav {
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

header nav li {
  margin-right: 15px;
  font-size: 20px;
  font-weight: 600;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::placeholder {
  color: black;
}

.search {
  display: inline-flex;
  height: 40px;
  flex: 1 1 300px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 4px;
  background: hsla(0, 0%, 100%, .9);
  margin-left: 1rem;
}

.locationSearch {
  border: 0;
  background: none;
  width: 100%;
}

#searchIcon {
  padding: 0.5rem 0 0.5rem 1rem;
}

input:focus {
  outline: none;
}

.pac-container {
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.25rem;
  background: hsla(0, 0%, 100%, .9);
}

.card {
  display: flex;
  margin: 1rem;
  padding: 0.25rem 1.25rem;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
}

/*First Card */

.current {
  width: 100%;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  align-items: center;
  margin: 0 0 1rem 0;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tempature {
  font-size: 60px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.details {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

.title {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.weather-details-container {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
}

.weather-details-listItem {
  display: flex;
  flex-basis: 98%;
  border-top: 1px solid #dedede!important;
  align-items: center;
  padding: 10px;
}

.weather-details-title {
  display: flex;
  font-size: 1rem;
  padding: 10px 16px;
  flex-grow: 1;
}

/* Daily Forecast */

.forecast {
  display: flex;
  flex-wrap: wrap;
}

.forecast ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 98%;
}

.forecast .grid {
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0.5rem;
  align-items: center;
}

.forecast-icon {
  width: 50px;
  height: 50px;
}

.hourly_chart {
  display: grid;
  justify-content: center;
}

.focus circle {
  fill: steelblue;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
  color: #000;
}

/*Footer */

footer {
  display: flex;
  justify-content: center;
}